header {
    padding: 12px;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
  }
  
body {
    margin: 0;
}
  
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
  
.add-button {
    padding: 6px 4px;
}
  
.items-list {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    margin-top: 60px;
    text-align: center;
}
  
.item {
    margin: auto;
    background: black;
    color: white;
    padding: 6px 12px;
    margin: 24px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: auto;
}

#read-only{
    margin-left: 2em;
    cursor: pointer;
}
label{
    cursor: pointer;
}
  